<h1 id="caen-libraries">CAEN Libraries</h1>
<h2 id="setup">Setup</h2>
<p>The CAEN Wrapper libraries are needed <strong>BEFORE COMPILATION</strong>, but they should not be distributed in the repo. Instead, they are stored on the rhig server. To copy them over, use the following command:</p>
<pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">scp</span> -r user@rhig.physics.yale.edu:/home/ehlers/libraries/caen/* .</code></pre>
<p>Replace user with your username on the RHIG server.</p>
<p>Then, ensure the dependencies for CAEN are installed. Next, run make as normal.</p>
