<h1 id="active-feedback">Active Feedback</h1>
<h2 id="setting-up-and-running-the-program">Setting up and Running the Program</h2>
<h3 id="program-setupcompilation">Program Setup/Compilation</h3>
<p>If the program has never been run before, or the code has been edited, then setup.sh should be run via <code>./setup.sh</code>. This will create any necessary variables, configure the code, and then compile the code and install it. The script is fairly simply, so the steps should be fairly clear.</p>
<p>The build system is based on automake, with the primary files defined by <code>autogen.sh</code>, <code>configure.ac</code>, and <code>Makefile.am</code>. <code>autogen.sh</code> is a short script which handles setting everything up, as well as running configure with the appropriate arguments. I have tried to make it as clear as possible, so anyone with a passing familiarity should be able to handle basic changes. Regardless, any need for changes should be extremely rare.</p>
<p>To compile the code (ie, if it has already been setup), one may simply run the setup script again. Alternatively, one make run:</p>
<pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">cd</span> build
<span class="kw">make</span> install
<span class="kw">cd</span> -</code></pre>
<h3 id="configuration-setup">Configuration Setup</h3>
<p>Once the program is setup, the necessary configuration files should be setup. At the very least, <code>gainConstants.txt</code> and <code>peakLocations.txt</code> must be setup. More information about the particulars could be found below in the section regarding configuration information. In short, determine the gain constants for the elements and set those in <code>gainConstants.txt</code>. Then look at output from the ADC and determine the rough position of the peak(s) and set the values in <code>peakLocations.txt</code>.</p>
<h3 id="running-the-program">Running the Program</h3>
<p>For simple operation (it will run assuming a single peak with relative gain):</p>
<p><strong>NOTE: AS OF 7/15/2014, ONLY THE SINGLE PEAK WITH RELATIVE GAIN MODE HAS BEEN TESTED ENTIRELY!</strong></p>
<ol style="list-style-type: decimal">
<li><strong>Configure the appropriate configuration files, as described in the section above!</strong></li>
<li>Start the monitoring program on the ADC computer by navigating to the appropriate directory and running <code>python monitor.py</code>.</li>
<li>Run the script <code>runActiveFeedback.sh</code> via <code>./runActiveFeedback.sh</code></li>
</ol>
<ul>
<li>This runs the python server <code>receiveFiles.py</code> to receive files from the ADC computer</li>
<li>That python server then runs <code>activeFeedback</code> with the appropriate options at the appropriate time, including ensuring that initialization is completed with appropriate.</li>
</ul>
<ol start="4" style="list-style-type: decimal">
<li>That's it</li>
</ol>
<p>When complete, press <code>Ctrl-c</code> to close both programs on the respective computers. Note that the voltages may have changed quite a bit, so be careful when reversing voltages back down to 0 (ie. do not just blindly run <code>./mpod.sh voltage -r -f &lt;file&gt;</code>. Look to see how much the voltage will change.)</p>
<p>NOTE: This script relies on being run from the directory in which it is placed. If it is elsewhere, then it will not monitor the correct files.</p>
<h3 id="program-options">Program Options</h3>
<p>While the above script works, <code>activeFeedback</code> can also be called directly. To see all possible options, run <code>activeFeedback --help</code>. However, nearly all relevant options can be run via <code>runActiveFeedback.sh</code>. Those options will be described below, or can be viewed via <code>python src/receiveFiles.py --help</code>.</p>
<p>The general usage can be described as:</p>
<pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">./runActiveFeedback</span> [-d] [-t]</code></pre>
<p>Where: <code>-d == --disableRelativeGain</code>, <code>-t == --triplePeak</code></p>
<p>or</p>
<pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">python</span> src/receiveFiles.py [-d] [-t]</code></pre>
<p>Where: <code>-d == --disableRelativeGain</code>, <code>-t == --triplePeak</code></p>
<p>or</p>
<pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">activeFeedback</span> [-i] [-r] [-s] [-f] filename</code></pre>
<p>Where: <code>-i == --initialize</code>, <code>-r == --relativeGain</code>, <code>-s == --singlePeak</code>, <code>-f == --filename</code></p>
<p>Note: This executable assumes triple peak, absolute gain mode unless otherwise specified.</p>
<h4 id="relative-gain">Relative Gain</h4>
<p>This mode is used when the gain characteristics of the system are not understood or are not available. For instance, if the gain from the electronics components is not know. In this mode, fractional gains are used, with the assumption that each element contributed equally to the change in gain (ex. a 27% change was caused by a 3% gain change on each element).</p>
<p>Relative gain is invoked by default when running via <code>runActiveFeedback.sh</code></p>
<p>If running <code>activeFeedback</code> directly, then one must pass <code>-r</code> or <code>--relativeGain</code> to enable relative gain.</p>
<h4 id="absolute-gain">Absolute Gain</h4>
<p>This mode is used when the gain characteristics of the system are well understood. In this case, the specific gas composition, along with the electronics gain, is used to create the gain directly. Since we are always aware of the precise values of the gain, the correction is performed more directly. However, it is also substantially more complicated than the relative gain. In addition, it makes some assumptions utilizing user input (in <code>initialAbsoluteGainConfig.txt</code>) about the nominal gain over each element.</p>
<p>Absolute gain is invoked by running <code>runActiveFeedback.sh</code> with the <code>-d</code> or <code>--disableRelativeGain</code> switch.</p>
<p>If running <code>activeFeedback</code> directly, absolute gain is default.</p>
<h4 id="single-peak">Single Peak</h4>
<p>This mode is used when the characteristics of the decays ensure that all decays are before the top GEM. In this case, there will only be a single peak in the ADC corresponding to amplification through the MMG and 2 GEMs. Since we obtain less information about the performance of each individual element, assumptions about the performance of the elements must be made. Those assumptions vary by the gain mode, and are described above. Nonetheless, this mode should still be effective for controlling the overall gain.</p>
<p>Single peak analysis is invoked by default when running via <code>runActiveFeedback.sh</code></p>
<p>If running <code>activeFeedback</code> directly, then one must pass <code>-s</code> or <code>--singlePeak</code> to enable the single peak analysis.</p>
<h4 id="triple-peak">Triple Peak</h4>
<p>This mode is used when the characteristics of the decays ensure that they are spaced throughout the chamber. In this case, there will be multiple peaks, corresponding to amplification by the MMG alone, by the MMG and the mid GEM, and by the MMG, mid GEM and top GEM. Because we have each peak, we know the gain of each element, and we can correct each element individually.</p>
<p><strong>NOTE: AS OF 7/15/2014, IT IS ASSUMED THAT EACH ELEMENT HAS GAIN &gt; 1! (IE. ASSUMING MMG IS THE LOWEST PEAK). A FLAG TO ADDRESS THIS SHOULD BE A FAIRLY TRIVIAL CHANGE, BUT IT HAS NOT YET BEEN IMPLEMENTED. BE CAREFUL.</strong></p>
<p>Triple peak analysis is invoked by running <code>runActiveFeedback.sh</code> with the <code>-t</code> or <code>--triplePeak</code> switch.</p>
<p>If running <code>activeFeedback</code> directly, triple peak is default.</p>
<hr />
<h2 id="configuration-information">Configuration Information</h2>
<p>Configuration files are in the config directory.</p>
<p>Note: The configuration files read values as &lt;name&gt;: &lt;value&gt;. It begins reading the value after the &quot;:&lt;space&gt;&quot;. The name is irrelevant - it is the relative order that matters. Any line can be a comment, <strong>as long as it doesn't include a colon!</strong></p>
<p>The available files are:</p>
<ul>
<li><code>gainConstants.txt</code></li>
<li><code>peakLocations.txt</code></li>
<li><code>initialAbsoluteGainConfig.txt</code></li>
<li><code>.initialRelativeGainConfig.txt</code></li>
</ul>
<h2 id="gainconstants.txt"><code>gainConstants.txt</code></h2>
<p>This sets the appropriate gain factor for each element. These is fairly well described at the top of activeFeedback.cc, which is quoted below:</p>
<blockquote>
<p>The expression is G=A * exp(V/C) -&gt; V_1-V_2 = C' * ln(G_1/G_2) where C' is different for the MMG, GEMs. By determining the slope of the gain curve, we can determine the constant.</p>
</blockquote>
<blockquote>
<p>For ballpark values:</p>
</blockquote>
<blockquote>
<ul>
<li>a normal MMG (at ~500 V) gets a 2x Gain for 25 V difference -&gt; C'=25/ln(2)</li>
<li>a normal GEM (at ~200 V?) gets a 2x Gain for 36 V difference -&gt; C'=36/ln(2). This is extracted from a triple GEM stack, so this may not be entirely accurate! The triple GEM had 2x Gain for 100 V difference over the 3 elements. A value of 45 is extracted from testing, as 36/ln(2) appears to overshoot the correction.</li>
</ul>
</blockquote>
<p>An example configuration is listed below:</p>
<pre><code>mmg: 36.0674
midGEM: 45.00
topGEM: 45.00</code></pre>
<h2 id="peaklocations.txt"><code>peakLocations.txt</code></h2>
<p>To appropriately fit any peak, the fitting algorithm must be seeded with the approximate location of the peak. In testing, the values do not appear to need to be particularly precise, but they do need to include the peak. Therefore, min and max values must be set in this configuration file.</p>
<p>When running in single peak mode, the only values that matter are the singlePeak. The other values have no effect on the analysis.</p>
<p>When running in triple peak mode, the mmg, mmgGEM and mmg2GEM peaks are the relevant variables. The single peak variable can be ignored. The mmg peak is the smallest peak, while the mmgGEM peak is located in the middle (where the peak corresponds to amplification by the middle GEM and the MMG), and the mmg2GEM peak is the largest.</p>
<p>Example values are listed below:</p>
<ul>
<li>mmgPeak min, max: 70, 130</li>
<li>mmgGEMPeak min, max: 160, 220</li>
<li>mmg2GEMPeak min, max: 360, 420</li>
<li>singlePeak min, max: 150, 600</li>
</ul>
<p>An example configuration is listed below:</p>
<pre><code>For the triple peak analysis, set the min and max values for the 3 peaks (order matters)
mmgPeak.min: 70
mmgPeak.max: 130
mmgGEMPeak.min: 160
mmgGEMPeak.max: 220
mmg2GEMPeak.min: 360
mmg2GEMPeak.max: 420
For the single peak analysis, set the min and max values for the single peak (order matters)
singlePeak.min: 150
singlePeak.max: 600</code></pre>
<h2 id="initialabsolutegainconfig.txt"><code>initialAbsoluteGainConfig.txt</code></h2>
<p>This configures the initial gain parameters when working with absolute gain. To perform in this operation mode, values for the gain from the electronics must be obtain (most likely via a test pulse). The electronics gain must be set in activeFeedback::calculateAbsoluteGainFactor(). In addition, the gas mixture and decay energy (in keV) must be entered. Lastly, the desired gains for each element must be entered. If operating in single peak mode, these will be used as the nominal values of the gain. Thus, the product of the three should be equal to the total expected gain. The corrections will then be made to return each element to the nominal gain.</p>
<p>An example configuration file is listed below:</p>
<pre><code>mmgGain: 400
midGEM: 1
topGEM: 5
Neon: 90
CO2: 5
CH4: 5
C2H4: 0
CF4: 0
Decay Energy (keV): 6</code></pre>
<h2 id="initialrelativegainconfig.txt"><code>.initialRelativeGainConfig.txt</code></h2>
<p>This file is used to record gains determined during initialization during relative gain operation. The file is proceeded by a . to hide it, as <strong>the user should never have to manually edit the file!</strong> However, if interested, the user may view the values.</p>
<p>For completeness, an example is below (assuming a single peak analysis):</p>
<pre><code>singlePeakAnaylsis
mmg: 0
midGEM: 0
topGEM: 0
total (not necessarily equal): 371.438</code></pre>
