<h2 id="parsesnmp">parseSNMP</h2>
<h3 id="to-setup">To setup:</h3>
<pre class="sourceCode bash"><code class="sourceCode bash"><span class="co"># Create the install directory</span>
<span class="kw">mkdir</span> <span class="ot">$HOME</span>/install
<span class="ot">MYINSTALL=</span><span class="st">&quot;</span><span class="ot">$HOME</span><span class="st">/install&quot;</span>
<span class="co"># Add the install directory to the path (should probably check this command)</span>
<span class="ot">PATH=</span><span class="st">&quot;</span><span class="ot">$MYINSTALL</span><span class="st">/bin:</span><span class="ot">$PATH</span><span class="st">&quot;</span>
<span class="co"># Add the lib directory to the path (should probably check this command)</span>
<span class="ot">LD_LIBRARY_PATH=</span><span class="st">&quot;</span><span class="ot">$MYINSTALL</span><span class="st">/lib:</span><span class="ot">$LD_LIBRARY_PATH</span><span class="st">&quot;</span>
<span class="co"># Obtain the CAEN wrapper libraries (see caen/README.md)</span>
<span class="kw">cd</span> caen
<span class="kw">scp</span> -r rhig:/home/ehlers/libraries/caen/* .
<span class="kw">cd</span> ..
<span class="co"># Run autotools and configure</span>
<span class="kw">cd</span> build
<span class="kw">./autogen.sh</span> --prefix=<span class="st">&quot;</span><span class="ot">$HOME</span><span class="st">/install&quot;</span></code></pre>
<h3 id="to-build">To build:</h3>
<p><strong>NOTE: If Makefile.am is changed (it probably shouldn't need to be), then <code>./autogen.sh</code> must be run again as above.</strong></p>
<pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">make</span>
<span class="kw">make</span> install</code></pre>
<h3 id="source-code">Source code</h3>
<p>The source is somewhat documented as of 8/10/2014. It is located in <code>parseSNMP/src</code>.</p>
<h3 id="to-test-parsesnmp-directly">To test parseSNMP directly:</h3>
<p>See <code>testScript.sh</code> for more information about how to what it tests. It describes how to change variables. It can also be run directly via <code>parseSNMP</code> (ie parseSNMP <arg>).</p>
<pre class="sourceCode bash"><code class="sourceCode bash"><span class="kw">./testScript.sh</span>
<span class="co"># OR</span>
<span class="kw">parseSNMP</span> <span class="kw">&lt;</span>args<span class="kw">&gt;</span></code></pre>
<h3 id="to-test-with-mpod">To test with MPOD</h3>
<p>Run any command as normally in mpod, but append the <code>-x</code> switch. There will be extra information printed from parseSNMP. This extra information can be hidden by appending a <code>2&gt; /dev/null</code> to the end of the mpod call.</p>
<p><strong>NOTE: The ip in <code>mpod.sh</code> is currently set to <code>127.0.0.1</code> (localhost). This must be changed if one is actually making API calls!</strong></p>
<h3 id="to-run-with-caen-api-calls">To run with CAEN API calls:</h3>
<p>To run with CAEN API calls, change <code>#define DEBUG 1</code> to <code>#define DEBUG 0</code> in <code>src/parseSNMP.cc</code> and <code>src/main.cc</code>. Recompile the source using make as described above.</p>
<p><strong>NOTE: The ip in <code>mpod.sh</code> is currently set to <code>127.0.0.1</code> (localhost). This must be changed if one is actually making API calls!</strong></p>
